:root {
    --primary: #ffca00;
    --bright-glow: #ffca00A3;
    --glow: #ffcc0042;
    --background: #101117;
}

body {
    font-family: Arial;
    font-size: 16px;
    color: var(--primary);

    background: repeating-linear-gradient(
        #0d0e13,
        #0d0e13 4px,
        var(--background) 4px,
        var(--background) 8px
    );
    background-attachment: fixed;

    padding-left: 10%;
    padding-right: 10%;
}

footer {
    border-top: solid 2px var(--primary);
}

h1 {
    font-size: 32px;
    text-shadow: 0 2px 10px var(--glow);
}

img {
    margin: 16px;
    filter: drop-shadow(0 2px 5px var(--glow));
}

a {
    color: var(--primary);
    transition-duration: .2s;
}
a::before {
    content: "[";
}
a::after {
    content: "]";
}
a:hover {
    text-shadow: 0 5px 10px var(--glow);
    transition-duration: .2s;
}
a:active {
    text-shadow: 0 5px 10px var(--bright-glow);
    transition-duration: .2s;
}

.pixel-art, .window-controls {
    image-rendering: pixelated;
}

.window {
    padding: 0;
    margin: 16px;
    transform: scale(.96);
    box-shadow: 0 10px 20px var(--glow);
    transition-duration: .2s;
}
.window img {
    transform: scale(calc(1 / .96));
    transition-duration: .2s;
}
.window:hover {
    transform: scale(1);
    box-shadow: 0 10px 20px var(--bright-glow);
    transition-duration: .2s;
}
.window:hover img {
    transform: scale(1);
    transition-duration: .2s;
}

.window-title {
    margin: 0;
    padding: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--primary);
    color: var(--background);
}

.window-controls {
    height: 14px;
    margin: 0;
}

.window-body {
    margin: 0;
    padding: 8px;
    backdrop-filter: blur(2px);
}

.bio {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    border-top: solid 2px var(--primary);
    border-bottom: solid 2px var(--primary);

    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-color: var(--primary) var(--background);
}
.links div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 8px;
    width: 256px;
    text-align: center;
}

.icon-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: 4px;
}
.icon-link img {
    margin: 6px;
    filter: none;
}