:root {
    --primary: #ffca00;
    --bright-glow: #ffca00A3;
    --glow: #ffcc0042;
    --background: #101117;
}

body {
    font-family: Arial;
    font-size: 16px;
    color: var(--primary);

    background-color: var(--background);

    padding-left: 10%;
    padding-right: 10%;
}

img {
    margin: 16px;
}

a {
    color: var(--primary);
    transition-duration: .2s;
}
a:hover {
    text-shadow: 0 5px 10px var(--glow);
    transition-duration: .2s;
}
a:active {
    text-shadow: 0 5px 10px var(--bright-glow);
    transition-duration: .2s;
}

h1 {
    font-size: 32px;
    text-shadow: 0 5px 10px var(--glow);
    transition-duration: .2s;
}
h1:hover {
    text-shadow: 0 5px 10px var(--bright-glow);
    transition-duration: .2s;
}

.pixel-art, .window-controls {
    image-rendering: pixelated;
}

.window {
    padding: 0;
    margin: 12px;
    box-shadow: 0 10px 20px var(--glow);
    transition-duration: .2s;
}
.window:hover {
    box-shadow: 0 10px 20px var(--bright-glow);
    transition-duration: .2s;
}

.window-title {
    margin: 0;
    padding: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--primary);
    color: var(--background);
}

.window-controls {
    height: 14px;
    margin: 0;
}

.window-body {
    margin: 0;
    padding: 8px;

    border: solid 2px var(--primary);
}

.bio {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 2px var(--primary);
    border-bottom: solid 2px var(--primary);
}
.links div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 8px;
}